.danger-wrapper {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    max-width: fit-content;
    color: #666;
}
