.target-title {
    text-align: center;
    margin-bottom: 0;
    padding: 20px 0 20px 0;
}

.button-submit {
    border-radius: 3px;
    background-color: #0099FF;
    border: none;
    outline: none;
}
#form-input {
    font-size: 16px;
    font-weight: 300;
}

.form-input-field {
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
    color: #666;
}

.form-input-field-error {
    box-shadow: 0 1px 6px rgb(255 69 0 / 20%);
}

.error-hint {
    color: red;
}
