.header {
    margin-bottom: 50px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fbfbfb;
}

.main-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    padding: 20px 0 20px 0;
}

.item {
    display: flex;
}

.item:after {
    content: "•";
    padding: 0 5px 0 5px;
}

.item:last-child:after {
    content: "";
}

.link {
    color: #09f;
    text-decoration: underline;
    font-size: 16px;
    padding: 0;
}

.link:hover {
    color: #09f;
}

.active {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    cursor: default;
}

.active:hover {
    color: #333;
}
