.repo-wrapper {
  color: #666;
  font-size: 24px;
  margin-bottom: 15px;
}

.icon-repo {
  position: relative;
}

.icon-repo:before {
  content: "";
  position: absolute;
  height: 32px;
  width: 24px;
  background-image: url('../public/book.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 32px;
}

.repo-name {
  margin-left: 34px;
}
