.docs_section {
    border-top: 1px solid #d8d8d8;
}

.docs_section-intro {
    padding-left: 18px;
    font-weight: 600;
    background-color: #fbfbfb;
}

.docs_section-content {
    margin-left: 42px;
}

.docs_section-content a {
    color: #212529;
    text-decoration: none;
}
