.method {
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
}

.method:last-child {
    margin-bottom: 0px;
}

.method .param {
    margin-left: 40px;
}

.title {
    padding: 10px 10px 10px 20px;
    display: block;
    line-height: 30px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #666;
    white-space: pre;
}

.docs {
    font-size: 15px;
    white-space: pre;
}

.docs_section {
    border-top: 1px solid #d8d8d8;
}

.docs .docs_section-intro {
    padding-left: 18px;
    font-weight: 600;
    background-color: #fbfbfb;
}

.docs .docs_section-content {
    margin-left: 42px;
}


.line {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.match-code:first-child {
    border-top: 1px solid #d8d8d8;
}

.match-code {
    overflow: auto;
    border-bottom: 2px solid #f0f0f0;
    border-top: 1px solid #d8d8d8;
}

.match-code > .line:first-child > .lnum {
    padding-top: 8px;
}

.lnum:hover {
    text-decoration: underline;
    background-color: #eee;
    color: #aaa;
}

.lnum {
    width: 40px;
    text-align: right;
    padding: 3px 5px 3px 0;
    border-right: 1px solid #eee;
    display: inline-block;
    font-size: 14px;
    color: #aaa;
}

.lval {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 3px 0 3px 5px;
    font-size: 14px;
    white-space: pre;
    color: #333;
}
