.input-wrapper {
    margin-bottom: 40px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
}

.input {
    color: #666;
    font-size: 18px;
    font-weight: 300;
}

.input:focus {
    outline: none;
    color: #666;
    border-color: #09f;
    box-shadow: 0 0 5px rgb(0 153 255 / 50%);
}

.search-button {
    border-radius: 0 3px 3px 0;
    height: 55px;
    width: 72px;
    background-image: url('../public/search.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17px;
    background-color: #0099FF;
    border: none;
    outline: none;
}

.search-button:hover {
    background-color: #0099FF;
}
